<!DOCTYPE html>
<html lang="pt-BR">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Layout 2</title>
      <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <header>
      <p class="description">Cabeçalho - layout 2</p>
    </header>
    <nav>
      <p class="description">Navegação</p>
    </nav>
    <main>
      <p class="description">Principal</p>
    </main>
    <aside>
      <p class="description">Relacionado</p>
    </aside>
    <footer>
      <p class="description">Rodapé</p>
    </footer>
    <script src="js/script.js"></script>
  </body>
</html>
